ADVANTRA>MISC,"MyOpener", imj.MyOpener
ADVANTRA>MISC,"Annotationer", imj.Annotationer
ADVANTRA>MISC,"SimplePlugIn", imj.SimplePlugIn
ADVANTRA>MISC,"Convert To Float", imj.FloatConversion
ADVANTRA>MISC,"Dialog With Colors", imj.DialogWithColors
ADVANTRA>MISC,"Line Tool", imj.LineTool
ADVANTRA>MISC,"Point Roi to Circles", imj.PointToCirc
ADVANTRA>MISC,"Cross Fader", imj.Cross_Fader

