ADVANTRA>MISC,"MyOpener", imj.MyOpener
ADVANTRA>MISC,"SimplePlugIn", imj.SimplePlugIn
ADVANTRA>MISC,"Convert To Float", imj.FloatConversion
ADVANTRA>MISC,"Dialog With Colors", imj.DialogWithColors
ADVANTRA>MISC,"Line Tool", imj.LineTool
ADVANTRA>MISC,"Point Roi to Circles", imj.PointToCirc
ADVANTRA>MISC,"Cross Fader", imj.Cross_Fader
ADVANTRA>MISC,"Hough Transform", imj.HoughTransform
ADVANTRA>MISC,"Mouse Listener (PlugInFilter)", imj.Mouse_Listener_1
ADVANTRA>MISC,"Mouse Listener (PlugIn)", imj.Mouse_Listener_2
ADVANTRA>MISC,"Cluster Directions (K means)", imj.KMeansDirection
ADVANTRA>MISC,"Cluster Directions (Mean Shift)", imj.MeanShiftDirection
ADVANTRA>MISC,"Window Positioning", imj.WindowPositioning
ADVANTRA>MISC,"Plot Type", imj.PlotType
ADVANTRA>MISC,"DynamicPixelInspector", imj.Dynamic_Pixel_Inspector
ADVANTRA>MISC,"MaximumFinder", imj.MaximumFinder
ADVANTRA>MISC,"GraphCutSeg", imj.graphcut.My_Graph_Cut
ADVANTRA>MISC,"Neuriteness",imj.hessian.MyHessianDemo
ADVANTRA>MISC,"DownsampleImage",imj.DownsampleImage
ADVANTRA>MISC,"IntensityAlongLine",imj.IntensityAlongLine
ADVANTRA>MISC,"JustOpen",imj.JustOpen
ADVANTRA>MISC,"SavingOverlay",imj.SavingOverlay
ADVANTRA>MISC,"TestHeadless",imj.TestHeadless